html,body{

    background-color: #fefefe;
}
.container {
  border: 2px solid #000;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #000;
  height: 550px;
  background-color: #fcfcfc;
  
}
h1
{
  color: #249991 !important;
  font-weight: bold !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  position: relative;

}

img {

  position: relative;
  top: 110px;
  left: 160px;
}



h2{

    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    text-align: center;
    color: #e76b6b;
}


.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #588c7f;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #6baa9a;
  text-decoration: none;
  color: #fff;
}

#question
{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    color: #676f86;
    text-transform: uppercase;

}

#correctAnswer
{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    color: #676f86;
    text-transform: uppercase;

}

#answer2
{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    color: #676f86;
    text-transform: uppercase;

}

#answer3
{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    color: #676f86;
    text-transform: uppercase;

}

#answer4
{
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    color: #676f86;
    text-transform: uppercase;

}

