html,body{

    background-color: #fefefe;
}
.container {
  border: 2px solid #249991;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #000;
  height: 560px;
  background-color: #fcfcfc;
  
}

@media (min-width: 1200px) {
    .container{
        max-width: 600px;
    }
}

h1
{
  color: #249991 !important;
  font-weight: bold !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  position: relative;

}

img {

  position: relative;
  top: 110px;
  left: 200px;

}



p{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e76b6b !important;
    font-size: 15px;
    font-weight: bold;

}


.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 17px;
  background: #588c7f;
  margin-left: 5px;
  margin-top: 10px;
  

}

.btn:hover 
{
  background: #2ba89f !important;
  font-family: Arial, Helvetica, sans-serif;
  color:#FFF !important;
  background-color: #2ba89f !important;
}
button:active{

  background-color: #33c7bd;
  color: #fff;
}

button:focus{
  background-color: #33c7bd;
  color: #fff;
}

#question
{
    font-family: Arial, Helvetica, sans-serif;
    color: #000 !important;
    text-transform: uppercase;

}

#correctAnswer
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}
#image
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}

#answer2
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}

#answer3
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}

#answer4
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}
#questionType{
  font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;
}



