html,body{

    background-color: #fefefe;
}

/*container*/
.container {
  border: 2px solid #249991;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #000;
  height: 560px;
  background-color: #fcfcfc;
  
}

@media (min-width: 1200px) {
    .container{
        max-width: 600px;
    }
}

h1
{
  color: #249991 !important;
  font-weight: bold !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  position: relative;

}

img {

  position: relative;
  top: 60px;
  left: 200px;

}



p{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #e76b6b !important;
    font-size: 15px;
    font-weight: bold;

}


#btnAdd  {
  -webkit-border-radius: 6 !important;
  -moz-border-radius: 6 !important;
  border-radius: 6px !important;
  font-family: Arial !important;
  color: #ffffff !important;
  font-size: 15px !important;
  background: #249991!important;
  padding: 10px 40px 10px 20px !important;
  text-decoration: none !important;
  display:inline-block !important;
  text-align: center;
  width: 100%;
  margin-left: 150px;

}

#btnAdd:hover
{
  background: #27a59c !important;
  text-decoration: none;
}



/*#question
{
    font-family: Arial, Helvetica, sans-serif;
    color: #000 !important;
    text-transform: uppercase;

}

#correctAnswer
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}
#image
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}

#answer2
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}

#answer3
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}

#answer4
{
    font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;

}
#questionType{
  font-family: Arial, Helvetica, sans-serif;
    color: #e76b6b !important;
    text-transform: uppercase;
}
*/


