html, body{
  height: 100%;
  width: 100%;
  margin: 0 0;
}

button{
	background-color: #249991;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	
	width: 100%;
	height: 100%;
}

header{
  color:#249991;
  font-size: 48px;
  text-align: center;
}

#btnJoinGame{
	color:#ffffff;
	font-size: 30px;

}
#btnHostGame{
	color:#ffffff;
	font-size: 30px;
}
#btnStart{
	color:#ffffff;
	font-size: 30px;

}
#btnProceed{
	color:#ffffff;
	font-size: 30px;


}



button:hover {
    background-color: #e76b6b;
    color: #ffffff;
    
}

button:active{

	background-color: #249991;
	color: #ffffff;
}

button:focus{
	background-color: #249991;
	color: #ffffff;

}

ul{
  margin: 0 auto;
}
#gameID{
  font-family: Arial, Helvetica, sans-serif;
  color: #249991;
  text-align:center;

}
#gameID{
	font-family: Arial, Helvetica, sans-serif;
	color: #249991;
	text-align:center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    
    font-size: 25px;
    color: #249991;
    text-align: center;
    float: center;
}
h3{

	font-family: Arial, Helvetica, sans-serif;
	font size:25px;
	color: #249991;
	text-align:center;
    
}
h4{
	font-family: Arial, Helvetica, sans-serif;

    
    font-size: 30 px;
    color: #249991;
}
h5{

	color:#e76b6b;
	text-align: center;

    float: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 80px;
    position:relative;
}
#logo{

	margin-left: 850px;

}
@media screen and (min-width:800px) {
    #questionArea {
        margin: 0 auto;
    }
}

#questionArea h2 {
    position: relative;
    top: 18px;
    left: 10px;
    height: 100%;
    max-height: 100%;
}


.container {
  margin: 0 auto;
  width: 80%;
}

#answers{
  padding: 0;
}


.img-responsive {

      position: relative;
    top: 70px;
    left: 160px;
}
#inputGameId{
padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  position: relative;
    font-family: Arial, Helvetica, sans-serif;
    height:50px;

	font-size:30px;
	text-align:center;
	color: #249991;
    left: 0%;
    top: 50%;
    width: 100%;
	
	}

#newGameScreen{

}	
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:#249991;
	text-align:center;

	}



/* Players Hub */

#playersHub{
  position: fixed;
  width: 100%;
  background: #249991;
  top: 0;
  color: white;
  padding: 0 5%;
}

#player1Score{
  float: left;
}

#player2Score{
  float: right;
}

/* Game Area */

#gameArea{


}