html, body{
  height: 100%;
  width: 100%;
  margin: 0 0;
}

h5{
	color:#e76b6b;
	text-align: center;
  font-family: Arial, Helvetica, sans-serif;
    float: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 80px;
    position:relative;
}

button:hover {
    background-color: #249991;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

button:active{
  background-color: #249991;
  color: #ffffff;
  font-size: 30px;
}
button:focus{
  background-color: #249991;
  color: #ffffff;
  font-size: 30px;
}
.container {
  border: 2px solid #e76b6b;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #e76b6b;
  height: 600px;
  background-color: #fcfcfc;
  
}
#btnPlayAgain{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  background-color:#249991;
  color: #ffffff;
}
#btnPlayAgain:hover{
  background-color: #249991;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background: #3abaad;
  text-decoration: none;
}
#btnFbk{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  background-color: #42729b;
  color: #ffffff;
}
#btnFbk:hover{
  background-color: #42729b;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background: #3abaad;
  text-decoration: none;
}


#btnExit{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  background-color:#e76b6b;
  color: #ffffff;
}
#btnExit:hover{
  background-color: #e76b6b;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background: #3abaad;
  text-decoration: none;
}
@media (min-width: 1200px) {
    .container{
        max-width: 550px;
    }
.container {
  border: 2px solid #249991;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #249991;
  height: 550px;
  background-color: #fcfcfc;
  
}