html, body{
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  
}
h1{
  color: #249991 !important;
  font-weight: bold !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  
    position:relative;
}



#results{
  color:#e76b6b;
  
  font-family: Arial, Helvetica, sans-serif;
   
}
button:hover {
    background-color: #249991;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

button:active{
  background-color: #249991;
  color: #ffffff;
  font-size: 30px;
}
button:focus{
  background-color: #249991;
  color: #ffffff;
  font-size: 30px;
}
.container {
  border: 2px solid #249991;
  border-radius: 1px;
  margin-top: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 5px #888888;
  height: 600px;
  background-color: #fcfcfc;
  
}

#btnPlayAgain{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  background-color:#249991;
  color: #ffffff;
   display:inline-block;
   width:29%;
   margin: 2px;
   
}
#btnPlayAgain:hover
{
  background: #3abaad;
  text-decoration: none;
}

#btnFbk{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    background-color:#42729b;
    color: #ffffff;
    display:inline-block;
    width:31%;
   margin: 2px;

}
#btnFbk:hover{
  
   background: #5188b8;
    text-decoration: none;
}


#btnExit{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    background-color:#e76b6b;
    color: #ffffff;
    display:inline-block;
    width:31%;
   margin: 2px;

}
#btnExit:hover{
  
    background: #ff9292;
    text-decoration: none;
}
@media (min-width: 1200px) {
    .container{
        max-width: 600px;
    }


#bronze{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  color: #42729b;
  position:relative;
  bottom-border:100px;
  
}

#gold{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  color: #42729b;
  
}

#silver{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  color: #42729b;

}
#loser{
  font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  color: #42729b;
  
}
#container>td{
  color:#e76b6b;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

