/*body of the page*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  

}


/*leave space at the top*/
.toppad
{
  margin-top:0px;

}

/*panel at the top*/
.panel-info>.panel-heading
 {
  
  color: #fff;
  font-weight: bold;
  background-color:#249991;
  border-color: #249991 !important;
  text-align: center;

 }

/*table*/
 .table>tbody>tr>td
 {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #c1c1c1;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;


 }

/*h1 tag*/
 h1
{
  color: #249991 !important;
  font-weight: bold !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  position: relative;

}



/*facebook button*/
#btnFbk{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    background-color:#42729b;
    color: #ffffff;
   
    width:31%;
   margin: 2px;
   margin-left:38px;

}

#btnFbk:hover
{

  background-color: #4e86b5;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;


}

/*exit button*/
#btnFbk:hover{
  
   background: #5188b8;
    text-decoration: none;
}


#btnExit{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 24px;
    background-color:#e76b6b;
    color: #ffffff;
    display:inline-block;
    width:31%;
   margin: 2px;

}
#btnExit:hover{
  
    background: #ff9292;
    text-decoration: none;
}

button:hover 
{

    background-color: #249991;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

button:active
{

  background-color: #249991;
  color: #ffffff;
  font-size: 30px;

}
button:focus
{

  background-color: #249991;
  color: #ffffff;
  font-size: 30px;

}