<!DOCTYPE html>
<html lang="en">
<head>


  <title>Add A Question</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="style/addQuestion.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <script type="text/javascript">
  
    function tempAlert(msg,duration)
    {
      var qa = document.createElement("div");
      qa.setAttribute("style","position:absolute;top:40%;left:20%;background-color:white;");
      qa.innerHTML = msg;
      setTimeout(function(){
      qa.parentNode.removeChild(qa);
    },duration);
    document.body.appendChild(qa);
  }
</script>

<% include partials/head %>

</head>

<header>
    <% include partials/header %>

  </header>
<div class="container">

<img class="img-responsive center-block" src="images/logo.png" width="80" height="80" alt="">
<br >
<br >
<h1>Plazarama</h1>
  <h2>Add Your Own Question</h2>

  <form class="form-horizontal" role="form" action="newQ" method="POST">

    <!--replace this with drop down list of question type categories?-->
    <div class="form-group">
      <label class="control-label col-sm-2" for="questionType" id="questionType">Question Type:</label>
      <div class="col-sm-10">
        <!--input type="textbox" name="questionType" class="form-control" placeholder="What is the Question Type?" required-->
        <select name="questionType" required>
        <option value="Math">Math</option>
        <option value="General">General Knowledge</option>
        <option value="History">History</option>
        <option value="Science">Science</option>
        <option value="Music">Music</option>
        <option value="Spelling">Spelling</option>
        <option value="Language">Language</option>
        <option value="Other">Other</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="question" id="question">Question:</label>
      <div class="col-sm-10">
        <input type="textbox" name="question" class="form-control" placeholder="What is the Question?" required>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="answer1" id="correctAnswer">Correct Answer:</label>
      <div class="col-sm-10">
        <input type="textbox" name="correctAnswer" class="form-control"  placeholder="Enter Correct Answer" required>
      </div>
    </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="answer2" id="answer2">Wrong Answer 1:</label>
      <div class="col-sm-10">
        <input type="textbox" name="answer2" class="form-control"  placeholder="Enter Wrong Answer" required>
      </div>
    </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="answer3" id="answer3">Wrong Answer 3:</label>
      <div class="col-sm-10">
        <input type="textbox" name="answer3" class="form-control"  placeholder="Enter Wrong Answer" required>
      </div>
    </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="answer4" id="answer4">Wrong Answer 4:</label>
      <div class="col-sm-10">
        <input type="textbox" name="answer4" class="form-control"  placeholder="Enter Wrong Answer" required>
      </div>
    </div>
    <br >
    <script>
    if('<%= script %>' == 'on')
      tempAlert("Question added sucessfully!",5000);
  </script>
    <br >
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default"><i class="fa fa-puzzle-piece"></i></span> Add Question</button>
      </div>
    </div>
  </form>
</div>

<center>
<strong style="color:#42729b;">See <a href="http://plazarama.github.io/" target="_blank" style="color:#e76b6b;">Plazarama</a> For More About Us</strong>
</center>

</body>
</html>
