<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
	</head>
	<body class="container">

		<div id="gameArea">

		</div>

		<script id="initScreen" type="text/template">
			<h1>Init screen</h1>

			<button id="btnHostGame" class="btn">Be the host</button>

		</script>

		<script id="newGameScreen" type="text/template">
			<div id="gameURL">--</div>
            <div id="gameID">--</div>
            <div id="playersWaiting"></div>
		</script>
	
		<script id="hostScreen" type="text/template">
			<h1>Host</h1>
			
			<div id="questionArea">
				<h2 id="question"></h2>
				<h3 id="answer1"></h3>
				<h3 id="answer2"></h3>
				<h3 id="answer3"></h3>
				<h3 id="answer4"></h3>
			</div>
			
			
		</script>
		
				


		<% include partials/scripts %>
		<script src="/js/gameHost.js"></script>


	</body>
</html>