<!DOCTYPE html>
<html lang="en">
	<head>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<% include partials/head %>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>




	<style>
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
	</style>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="/style/gameHost.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>
	<body class="container">



		<div id="gameArea">

		</div>

		<script  id="initScreen" type="text/template">
			<div class="container">
			<img class="img-responsive center-block" src="/images/logo.png" id="logoImage" width"70" height="70">
				<h1>PLAZARAMA</h1>
				<h4> Get your friends connected and enjoy Plazarama</h4>
				<h5>This will be the main screen for your game.</h5>
				<button id="btnHostGame" class="btn">BE THE HOST</button>
			</div>

		</script>

		<script id="hostScreen" type="text/template">

			<div id="playersHub">
				<div id="player1Score">
					<h3>Player 1 Score: 0 </h3>
				</div>

				<div id="player2Score">
					<h3>Player 2 Score: 0 </h3>
				</div>
				<div id="player3Score">
					<h3>Player 3 Score: 0 </h3>
				</div>
				<div id="player4Score">
					<h3>Player 4 Score: 0 </h3>
				</div>
			</div>
			
			<div id="timer"></div>

			<div class="container" id="questionArea">
				<img class="img-responsive center-block" src="/images/white.jpg" width="70" height="70"alt="">
				<br>

			<h2 id="question">Display Question</h2>


			<div id="quesImg" style="text-align: center"></div>


				<ul style="list-style-type:none">
	  				<li>
	  					<button id="answer1"> <span class="fa fa-a"></span> Answer1</button>
	  				</li>
	  				<li>
	  					<button id="answer2">Answer2</button>
	  				</li>
	  				<li>
	  					<button id="answer3">Answer3</button>
	  				</li>
	  				<li>
	  					<button id="answer4">Answer4</button>
	  				</li>

				</ul>

			</div>
		</script>

		<script id="gameFinished" type="text/template">
			<div class="container" id="questionArea">
				<h2>Game Finished!</h2>
				<h3>Thank You For Playing Plazarama</h3>
			</div>

		</script>
		<% include partials/scripts %>
		<script src="/game/gameHost.js"></script>


	</body>
</html>
