<!DOCTYPE html>
<html lang="en">
	<head>

		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<% include partials/head %>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>




	<style>
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
	</style>

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="/style/gameHost.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>
	<body class="container">



		<div id="gameArea">

		</div>

		<script  id="initScreen" type="text/template">
			<div class="container">
			<img class="img-responsive center-block" src="/images/logo.png" id="logoImage" width"70" height="70">
				<h1>PLAZARAMA</h1>
				<h3>This will be the main screen for your game.</h3>
				<h4> Get your friends connected and enjoy Plazarama</h4>

				<button id="btnHostGame" class="btn">BE THE HOST</button>
			</div>

		</script>


		<script type="text/javascript">
		var count=10;

		var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

		function timer()
		{
  			count=count-1;
  			if (count <= 0)
  		{

     	clearInterval(counter);
     	//counter ended, do something here
     	return;
  		}

  		//Do code for showing the number of seconds here
		}

		function timer()
		{
  		count=count-1;
  		if (count <= 0)
  		{
     		clearInterval(counter);
     		return;
  		}

 		document.getElementById("timer").innerHTML=count + " seconds "; // watch for spelling
		}
		</script>

		<script id="hostScreen" type="text/template">

			<div id="playersHub">
				<div id="player1Score">
					<h3>PLAYER 1 SCORE: 0</h3>
				</div>

				<div id="player2Score">
					<h3>PLAYER 2 SCORE: 0</h3>
				</div>
				<div id="player3Score">
					<h3>PLAYER 3 SCORE: 0</h3>
				</div>
				<div id="player4Score">
					<h3> PLAYER 4 SCORE: 0</h3>
				</div>
			</div>
			<span id="timer"></span>

			<div class="container" id="questionArea">
				//<img class="img-responsive center-block" src="/images/logo.PNG" width="70" height="70"alt="">
				<br>

			<h2 id="question">Display Question</h2>


			<div id="quesImg" style="text-align: center"></div>


				<ul style="list-style-type:none">
	  				<li>
	  					<button id="answer1"> <span class="fa fa-a"></span> Answer 1</button>
	  				</li>
	  				<li>
	  					<button id="answer2">Answer 2</button>
	  				</li>
	  				<li>
	  					<button id="answer3">Answer 3</button>
	  				</li>
	  				<li>
	  					<button id="answer4">Answer 4</button>
	  				</li>

				</ul>

			</div>
		</script>

		<script id="gameFinished" type="text/template">
			<div class="container" id="questionArea">
				<h2>Game Finished!</h2>
				<h3>Thank You For Playing Plazarama</h3>
			</div>

		</script>
		<% include partials/scripts %>
		<script src="/game/gameHost.js"></script>


	</body>
</html>
