<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		<link rel="stylesheet" href="/style/gameStyle.css" type="text/css">

	</head>
	<body class="container">

		<div id="gameArea">

		</div>

		<script id="initScreen" type="text/template">
			<h2>Player screen</h2>

			<button id="btnJoinGame" class="btn">Join a game</button>

		</script>

	

		<script id="joinScreen" type="text/template">
			<input id="inputGameId" type="text">
			<button id="btnStart" class="btn">Start</button>
			<div id="playerWaiting"></div>

		</script>

		
		<script id="playerScreen" type="text/template">			
			<div id="questionArea">
				<ul id="answers" style="list-style-type:none">
	  				<li >
	  					<button id="answer1" class="answer">Answ1</button>
	  				</li>
	  				<li>
	  					<button id="answer2" class="answer">Answ2</button>
	  				</li>
	  				<li >
	  					<button id="answer3" class="answer">Answ3</button>
	  				</li>
	  				<li >
	  					<button id="answer4" class="answer">Answ4</button>
	  				</li>
				</ul>
			</div>
			
		</script>

		<div id="finishedGame" type="text/template">
			<div id="questionArea">
				<h2 id="gameResult"></h2>
			</div>
		</div>

		
				


		<% include partials/scripts %>
		<script src="/game/gamePlayer.js"></script>


	</body>
</html>