<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<% include partials/head %>
		<!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="/style/gameStyle.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


	</head>
	<body class="container">

		<div id="gameArea">

		</div>

		<script id="initScreen" type="text/template">
		<img class="img-responsive center-block" src="/images/logo.png" id="logoImage" width"70" height="70">

			<h1>PLAZARAMA</h1>
			<h3>You will play the game in this screen</h4>
			<h5>Click the button and enter the host ID that is on the big screen</h5>

			<button id="btnJoinGame" class="btn">JOIN A GAME</button>


		</script>

		<script id="joinScreen" type="text/template">

			<img class="img-responsive center-block" src="/images/logo.png" id="logoImage" width"70" height="70">
			<h1>PLAZARAMA</h1>
			<h3>ENTER YOUR HOST ID:</h3><input id="inputGameId" type="text">
			<h5>The host ID is on the main screen</h5>
			<button id="btnStart" class="btn">START</button>
			<div id="playerWaiting"></div>
				
		</script>


		<script id="playerScreen" type="text/template">
			<div id="questionArea">
				<ul id="answers" style="list-style-type:none">
	  				<li >
	  					<button id="answer1" class="answer">Answer1</button>
	  				</li>
	  				<li>
	  					<button id="answer2" class="answer">Answer2</button>
	  				</li>
	  				<li >
	  					<button id="answer3" class="answer">Answer3</button>
	  				</li>
	  				<li >
	  					<button id="answer4" class="answer">Answer4</button>
	  				</li>
				</ul>
			</div>
 
		</script>

		<div id="finishedGame" type="text/template">
			<div id="questionArea">
				<h2 id="gameResult"></h2>
			</div>
		</div>





		<% include partials/scripts %>
		<script src="/game/gamePlayer.js"></script>
		<input type="hidden" id="uid" value="<%= userid %>" />

	</body>
</html>
