<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/head %>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>


	<style>
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
	</style>

		<link rel="stylesheet" href="/style/gameStyle.css" type="text/css">
		<!--font awesome-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	</head>
	<body class="container">

		<div id="gameArea">

		</div>

		<script  id="initScreen" type="text/template">
			<div class="container">
			<img src="/images/logo.png" id="logo" width"110" height="90">
				<h5>PLAZARAMA</h5>
				<h2></h2>

				<button id="btnHostGame" class="btn">BE THE HOST</button>
			</div>

		</script>

		<script type="text/javascript">
var count=10;

var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     //counter ended, do something here
     return;
  }

  //Do code for showing the number of seconds here
}

function timer()
{
  count=count-1;
  if (count <= 0)
  {
     clearInterval(counter);
     return;
  }

 document.getElementById("timer").innerHTML=count + " seconds "; // watch for spelling
}
</script>
		<script id="hostScreen" type="text/template">

			<div id="playersHub">
				<div id="player1Score">
					<h3>Player 1 score: 0</h3>
				</div>

				<div id="player2Score">
					<h3>Player 2 score: 0</h3>
				</div>
				<div id="player3Score">
					<h3>Player 3 score: 0</h3>
				</div>
				<div id="player4Score">
					<h3>Player 4 score: 0</h3>
				</div>
			</div>
			<span id="timer"></span>
			<div class="container" id="questionArea">
				<img class="img-responsive center-block" src="/images/logo.PNG" width="70" height="70"alt="">

			<h2 id="question">Display Question</h2>
		<img id="questionImg">//<%if (imagepath.src != '') { %> <img src="<%=imagepath%>"><% } %>
		</img>

				<ul style="list-style-type:none">
	  				<li>
	  					<button id="answer1"> <span class="fa fa-a"></span> Answ1</button>
	  				</li>
	  				<li>
	  					<button id="answer2">Answ2</button>
	  				</li>
	  				<li>
	  					<button id="answer3">Answ3</button>
	  				</li>
	  				<li>
	  					<button id="answer4">Answ4</button>
	  				</li>

				</ul>

			</div>
		</script>

		<script id="gameFinished" type="text/template">
			<div class="container" id="questionArea">
				<h2>Game finished!</h2>
			</div>

		</script>




		<% include partials/scripts %>
		<script src="/game/gameHost.js"></script>


	</body>
</html>
