<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- The animate css for the steps -->
    <link rel="stylesheet" href="/style/animate.min.css" type="text/css">

    <!-- Custom CSS  main-->
    <link rel="stylesheet" href="/style/custom.css" type="text/css">

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

    <title>Plazarama</title>

</head>

<!--Navagation on the index page.-->
<body id="page-top">

    <% include partials/header %>    
    

    <header>
        <div class="header-content">
            <div class="header-content-inner">
        <img class="img-responsive center-block" src="/images/logo.png" width="110" height="90" alt="">
        <br>
        <br>
                <h1>Plazarama</h1>
                 <hr>
                <p>A multiplayer/multiscreen online game. Play against your classmates, colleagues or whomever you like in a series of quick fire games! Login on now to see the action.</p>
                <% if(locals.user) { %>
                    <a class="btn btn-primary btn-xl page-scroll" href="/host">Be the Host</a>
                    <a class="btn btn-primary btn-xl page-scroll" href="/player">Be the Player</a>

                <% } else { %>
                    <a href="#" class="btn btn-primary btn-xl page-scroll" data-toggle="modal" data-target="#myModal">Login</a>
                <% } %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="text-center" class="modal-title" id="myModalLabel" >Login Now.</h3>
      <h4 class="text-center" >You can sign in with facebook or login as a guest.</h4>
      </div>
      <div class="modal-body">
        
        <a href="/auth/facebook" type="button" class="btn btn-primary">Sign in with FACEBOOK</a>
        <br>
        <br>
        <br>
        <a type="button" class="btn btn-primary" href="/login">Sign in as a GUEST</a>
        <hr/>

        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        
      </div>
    </div>
  </div>
</div>





            </div>
        </div>
    </header>


<!--About us-->


    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">What is Plazarama?</h2>
                    <!-- line seprate-->
                    <hr class="light">
                    <p class="text-faded">Plazarama is an online multiplayer and multiscreen game. Imagine that you want to play to another player in the same mobile phone but the screen is too small for both parties, so, what would happen if you separate the question from the answers? So this is the basic idea, separating the actual game from the controller.</p>
                    <a href="#" class="btn btn-default btn-xl wow bounceInLeft">LOGIN</a>
                </div>
            </div>
        </div>
    </section>

    <!--end of about us-->

<!--HOW TO PLAY-->
    <section id="instructions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Instructions</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-mobile wow bounceInUp text-primary"></i>
                        <h3>Step 1:</h3>
                        <p class="text-muted">Grab your phone and navigate to the plazarama site. Make sure you are logged into the same wifi network as us!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user-plus wow bounceInUp text-primary" data-wow-delay=".1s"></i>
                        <h3>Step 2:</h3>
                        <p class="text-muted">Wait for your buddy to join in on this fun game. Ready? Click play now to start the game!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-spinner wow bounceInUp text-primary" data-wow-delay=".2s"></i>
                        <h3>Step 3:</h3>
                        <p class="text-muted">The will start when everyone has pressesd "Play Now". Once done, the game will shoot out quick fire questions, so be ready!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceInUp text-primary" data-wow-delay=".3s"></i>
                        <h3>Step 4:</h3>
                        <p class="text-muted">Enjoy the game until your hearts content. Play as many times as you want and built up your score.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--end of steps-->


    
<!--BLOG SECTION-->
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Blog</h2>
                <p>Come check out our lastest blog posts.</p>
                <p>See how our idea started and developed and where it is today.</p>

                <a href="http://plazarama.github.io/2015/plazarama-project/" class="btn btn-default btn-xl wow shake">Check It Out</a>
            </div>
        </div>
    </aside>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Stay In Touch!</h2>
                    <hr class="primary">
                    <p>We not stay in touch with us through our social media accounts?</p>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-facebook-square wow bounceInUp text-primary"></i>
                   
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-twitter-square wow bounceInUp text-primary" data-wow-delay=".1s"></i>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pinterest-square wow bounceInUp text-primary" data-wow-delay=".2s"></i>
          
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-instagram wow bounceInUp text-primary" data-wow-delay=".3s"></i>

                       
                    </div>
                </div>
            </div>
        </div>
    </section>


        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        Copyright &copy; Plazarama 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.fittext.js"></script>

    <script src="/js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/creative.js"></script>

</body>

</html>
