<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootstrap  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="/style/login.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>Login</title>

	<% include partials/head %>

</head>

<body>

	<header> <% include partials/header %> </header>

      <!-- container -->
    	<div class="container">

      <!-- logo and h1 -->
    	<img class="img-responsive center-block" src="/images/logo.png" width="70" height="70" alt="">
    	<h1>Plazarama</h1>

    	<br>


    <h3>LOGIN NOW!</h3>

    <p>with</p>

    <!--Login with facebook-->
    <div class="row omb_row-sm-offset-3">
    <div class="col-sm-6">
		<a href="/auth/facebook"  class="btn btn-lg btn-block omb_btn-facebook" id="btnFB"></span> Facebook</a>
          
          </div>
          </div>
        
        <br>
        <p>OR</p>

    <!-- message if nothing -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>
    
    <!-- set the width -->
     <div class="row omb_row-sm-offset-3">
     <div class="col-xs-12 col-sm-6">
		 <form action="/login" method="post" class="omb_loginForm">

    <!-- email address -->
		<div class="input-group margin-bottom-sm">
  		<span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
 		 <input class="form-control" type="text" name="email" placeholder="Email address">
		</div>

		<br>

    <!-- password box -->
		<div class="input-group">
 		 <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
 		 <input class="form-control" type="password" name="password" placeholder="Password">
		</div>

		<br>

    <!-- button -->
		<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="btnSN">Sign in</button>

    <br>
    <br>

    <!-- sign up -->
    <div class="row omb_row-sm-offset-3">
      <div class="col-sm-6">
        <label class="signup">
         <p>Not A Member? <a href="signup" style="color:#42729b !important;"><br/> Sign up</a></p>
        </label>
      </div>
</div>
</form> 

	<% include partials/footer %>

</div>
</div>
</div>
</div>

</body>
</html>
