<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/results %>
		<link rel="stylesheet" href="/style/results.css" type="text/css">
		<link href="path-to-file/social-sharing.css" rel="stylesheet">
	</head>
	<body>

		
	<div class="container">
		<h5>RESULTS</h5>
		<img src="/images/gold.png" id="gold" width"110" height="90">
		<br>
		<img src="/images/silver.png" id="silver" width"110" height="90">
		<br>
		<img src="/images/bronze.png" id="bronze" width"110" height="90">
		<br>
		<img src="/images/sadFace.png" id="sadFace" width"110" height="90">
		<br>
		<button id="btnPlayAgain" class="btn">PLAY AGAIN</button>
		<button id="btnFbk" class="btn">SHARE FACEBOOK</button>
		<button id="btnExit" class="btn">EXIT</button>
		

	</div>
		

	</body>
</html>