<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootstrap  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="/style/signup.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>Login</title>

	<% include partials/head %>


</head>
<body>
		<header>
		<% include partials/header %>

	</header>
	<!-- container  -->
	<div class="container">

	<img class="img-responsive center-block" src="/images/logo.png" width="70" height="70" alt="">
	<h1>Plazarama</h1>


	<p>Create an account with Plazarama to start playing!</p>

		<!-- message -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>


		<!-- start form -->
		<form action="/signup" method="post">
		<div class="form-group">
		<!-- name -->
			<input class="form-control" type="text" name="firstname" placeholder="Name">
		</div>
		
		<!-- email -->
		<div class="form-group">
			<input class="form-control" type="email" name="email" placeholder="Email address">
		</div>

		<!-- password -->
		<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="Password">
		</div>

		<!-- button -->
		<a href="player"<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" id="btnSU"><i class="fa fa-sign-in"></i> Sign Up</button></a>
		<br>

	<div class="row omb_row-sm-offset-3">
      <div class="col-sm-12">
        <label class="signup" id="signUp">

	<!-- link to player page -->
	<a href="player" id="link1" style="text-align: center !important;">Already have an account?</a>
         
        </label>
      </div>
      <br>


	
	</form>
	</div>


</body>
</html>
