
<!DOCTYPE html>
<html lang="en">
	<head>
		
		
		<link rel="stylesheet" href="stats.css" type="text/css">
		<link href="path-to-file/social-sharing.css" rel="stylesheet">
		
	</head>
	<body>


	<div class="container">
		<h1>STATS PAGE</h1>
			<br>
			<br>
			<img id="logo" src="logo.png" id="logo" width"110" height="90">
			<br>
			<br>
		<Label id="name">Name:</label> 
			<br><br>
			<br>
		<Label id="TotalPlayed">Your total games played is:</label>
			<br>
			<br>
		<Label id="TotalCorrect">Your total correct questions is:</label>
			<br>
			<br>
		<Label id="TotalScore">Your total score is:</label>
			

	</div>


	</body>
</html>
