<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Bootstrap  -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="/style/bootstrap.min.css" type="text/css">

  <!--Link to external StyleSheet-->
  <link rel="stylesheet" href="/style/user.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Awesome Link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <title>User Profile</title>

<% include partials/head %>


</head>

<body>

  <% include partials/header %>

      <!--Container -->
      <div class="container">
      <!-- brings pages to the middle and sets the height x width-->
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
        

        <img class="img-responsive center-block" id="logoImage" src="/images/logo.png" width="70" height="70" alt="">
        <h1>Plazarama</h1>
  <br>

       <!--Top panel for the username of player -->
        <div class="panel panel-info">
        <div class="panel-heading">
        <h2 class="panel-title">This is your user profile page!</h2>
        </div>

        <!-- User Picture-->
        <div class="panel-body">
          <div class="row">
             <div class="col-md-3 col-lg-3 " align="center"> <img alt="userPlaceholder" src="images/personPlace.png" class="img-circle img-responsive"> </div>

        <!-- Information about the User -->
        <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
        <tbody>
        <tr>
        <td>Name:</td>
        <td><%= user.name %></td>
        </tr>

         <tr>
         <td>Email Address:</td>
         <td><%= user.email %></td>
         </tr>

         <tr>
         <td>Games Played:</td>
         <td><%= user.played %></td>
         </tr>
         <tr></tr>

         </tbody>
         </table>

         <!-- Buttons -->
         <!-- BtnPlay-->
         <a href="player" type="button" id="btnPlayAgain" class="btn" title="Play Again!"class="fa fa-puzzle-piece"><i class="fa fa-puzzle-piece"></i></a></button>
         <!-- btnViewStats -->
         <a href="stats" data-toggle="tooltip" title="View the stats page!" id="btnGo" class="btn"><i class="fa fa-bar-chart"></i></a></button>

         </div>
         </div>
         </div>

         <!--Panel at the bottem-->
         <div class="panel-footer">

           <a href="index" data-toggle="tooltip" title="Instructions" type="button" class="btn btn-sm btn-primary" id="btn1"><i class="fa fa-question-circle"></i></a>

           <span class="pull-right">
            <a href="host" data-original-title="Host" data-toggle="tooltip" title="Be the Host!" type="button" id="btn2" class="btn btn-sm btn-warning"><i class="fa fa-puzzle-piece"></i></a>

            <a href="logout" data-toggle="tooltip" title="Logout" type="button"id="btn3" id="btn1"class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>

             </span>
          </div>



          </div>
        </div>
      </div>
    </div>
      <% include partials/footer %>

</body>
</html>
