<!DOCTYPE html>
<html lang="en">
<head>

<title>User Profile</title>

  <!--Bootstrap-->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS-->
  <link rel="stylesheet" href="/style/user.css" type="text/css">

  <!--Favicon-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

  <!--Font Aswome-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<% include partials/head %>


</head>

<body>

  <% include partials/header %>

      <!--Container -->
      <div class="container">
      <!-- brings pages to the middle-->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >

        <img class="img-responsive center-block" id="logoImage" src="/images/logo.png" width="70" height="70" alt="">
        <h1>Plazarama</h1>
  <br>

       <!--Top panel for the username of player -->
        <div class="panel panel-info">
        <div class="panel-heading">
        <h2 class="panel-title">Name: <%= user.name %> </h2>
        </div>

        <!-- User Picture-->
        <div class="panel-body">
          <div class="row">
             <div class="col-md-3 col-lg-3 " align="center"> <img alt="userPlaceholder" src="images/personPlace.png" class="img-circle img-responsive"> </div>

        <!-- Information about the User -->
        <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
        <tbody>
        <tr>
        <td>Name:</td>
        <td><%= user.name %></td>
        </tr>

         <tr>
         <td>Email Address:</td>
         <td><%= user.email %></td>
         </tr>

         <tr>
         <td>Games Played:</td>
         <td><%= user.played %></td>
         </tr>
         <tr></tr>

         </tbody>
         </table>

         <!-- Buttons -->

         <a href="host" data-toggle="tooltip" title="Host the game of Plazarama!" class="btn btn-primary">Host Plazarama</a>

         <a href="stats" data-toggle="tooltip" title="View the stats page!" class="btn btn-primary">View The Statistics</a>
         </div>
         </div>
         </div>

         <!--Panel at the bottem-->
         <div class="panel-footer">

           <a href="index" data-toggle="tooltip" title="Instructions" type="button" class="btn btn-sm btn-primary" id="btn1"><i class="fa fa-question-circle"></i></a>

           <span class="pull-right">
            <a href="player" data-original-title="Play" data-toggle="tooltip" title="Be the Player!" type="button" id="btn2" class="btn btn-sm btn-warning"><i class="fa fa-puzzle-piece"></i></a>

            <a href="logout" data-toggle="tooltip" title="Logout" type="button"id="btn3" id="btn1"class="btn btn-sm btn-danger"><i class="fa fa-times"></i></a>

             </span>
          </div>



          </div>
        </div>
      </div>
    </div>
      <% include partials/footer %>

</body>
</html>
